<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	<title>AirBnB Clone</title>
	<link rel="stylesheet" type="text/css" href="static/styles/3-header.css">
	<link rel="stylesheet" type="text/css" href="static/styles/3-footer.css">
	<link rel="stylesheet" type="text/css" href="static/styles/4-common.css">
	<link rel="stylesheet" type="text/css" href="static/styles/6-filters.css">
	<link rel="stylesheet" type="text/css" href="static/styles/8-places.css">
	<link rel="icon" type="image/png" href="static/images/icon.png">
    </head>
    <body>
        <header class="logo">
	</header>
	<div class="container">
	    <section class="filters">
                <button type="button">Search</button>
		<div class="locations">
		    <h3>States</h3>
		    <h4>&nbsp;</h4>
		    <div class="popover">
		        <ul>
			  {% for state in states.values()|sort(attribute='name') %}
			    <li>
			        <h2>{{ state.name }}</h2>
				<ul>
				  {% for city in state.cities|sort(attribute='name') %}
				  <li>{{ city.name }}</li>
				  {% endfor %}
				</ul>
			    </li>
			    {% endfor %}
			</ul>
		    </div>
		</div>
		<div class="amenities">
		    <h3>Amenities</h3>
		    <h4>&nbsp;</h4>
		    <div class="popover">
		        <ul>
			  {% for amenity in amenities.values()|sort(attribute='name') %}
			    <li>{{ amenity.name }}</li>
			    {% endfor %}
			</ul>
		    </div>
		</div>
	    </section>
	    <section class="places">
                <h1>Places</h1>
		{% for place in places.values()|sort(attribute='name') %}
		<article>
		    <h2>{{ place.name }}</h2>
		    <div class="price_by_night">{{ place.price_by_night }}</div>
		    <div class="information">
		        <div class="max_guest"><p>{{ place.max_guest }}</p></div>
			<div class="number_rooms"><p>{{ place.number_rooms }}</p></div>
			<div class="number_bathrooms"><p>{{ place.number_bathrooms }}</p></div>
		    </div>
		    <div class="user">
		        <p><b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name }}</p>
		    </div>
		    <div class="description">
		        <p>{{ place.description|safe }}</p>
		    </div>
		</article>
		{% endfor %}
	    </section>
	</div>
	<footer>
	    <div>Holberton School</div>
	</footer>
    </body>
</html>
